* {
    margin: 0;
    padding: 0;
}

                        /* Login */
.container {
    background-image: url(../../../resources/public/imgs/librarybg.jpg);
    height: 100%;
}

.main-text {
    text-align: center;
    padding-top: 100px;
    color: white;
    font-family: Vivaldi, "Comic Sans", cursive;
    font-size: 50px;
}

.login-form {
    display: block;
    position: absolute;
    top: 250px;
    left: 535px;
    color: white;
}

.login-form label{
    display: block;
    text-align: center;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

                        /* Register */


.register{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
}

.modal-content label{
    display: grid;
    justify-content: center;
    color: white;
}

.modal-content input{
    display: block;
    margin: auto;
}

.modal-content{
    display: block;
    font-family: 'Quicksand', sans-serif;
    background-color: black;
    margin: 15px;
    padding-bottom: 5px;
    border: 1px solid #888;
}

.modal-content h1{
    font-family: Vivaldi, "Comic Sans", cursive;
    font-size: 50px;
    color: white;
    text-align: center;
}

                            /* Navbar */

.menu-hover{
    display: none;
}

.navbar {
    position: fixed;
    width: 100%;
}

.nav{
    background-color: rgba(2, 22, 58, 1);
    display: grid;
    padding: 10px;
}

.logo {
    margin: auto;
}

.book-logo {
    height: 100px;
}

.menu-hover{
    background-color: white;
    width: 100%;
    display: none;
    padding: 20px;
    text-align: center;
}

.menu-hover a{
    color: black; 
    font-family: Vivaldi, "Comic Sans", cursive;
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
    border-right: 1px solid #000;
}

                        /* Home Features */

.home-features{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-top: 180px;
    background-image: url(../../../resources/public/imgs/librarybg.jpg);
}

.search-box, .category-link{
    margin: auto;
    padding: 50px;
}

.search-box input[type=search]{
    width: 100%;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    float: left;
}

.search-box h3 {
    padding-top: 20px;
    text-align: center;
    color: white;
    font-family: Vivaldi, "Comic Sans", cursive;
    font-size: 40px;
}

.category-link h3{
    padding-top: 20px;
    text-align: center;
    color: white;
    font-family: Vivaldi, "Comic Sans", cursive;
    font-size: 40px;
}

.category-link a{
    padding-top: 20px;
    color: white;
    font-family: Vivaldi, "Comic Sans", cursive;
    font-size: 30px;
    text-decoration: none;
}

                                    /* Footer */

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color: rgba(2, 22, 58, 1);
}

.about-us h1, .location h1{
    color: white;
    font-family: serif;
    font-size: 10px;
}

.footer p, h1{
    color: white;
    text-align: center;
}


                                    /* Create User and Book */

.create-user-form, .create-book-form{
    display: grid;
    padding-top: 250px;
    background-image: url(../../../resources/public/imgs/librarybg.jpg);
}

.create-user-form h3, .create-book-form h3{
    text-align: center;
    font-size: 40px;
    color: white;
    padding-bottom: 50px;
}

fieldset{
    display: inline-block;
    text-align: center;
    margin-left: 500px;
    margin-bottom: 165px;
    padding: 20px;
    background-color: white;
    border: solid 10px;
    border-color: rgba(2, 22, 58, 1);;
}

legend{
    display: none;
}

textarea{
    resize: none;
}

                            /* Book List */
.book-container{
    display: grid;
    padding-top: 250px;
    background-image: url(../../../resources/public/imgs/librarybg.jpg);
}

.book-container h3{
    text-align: center;
    font-size: 40px;
    color: white;
    padding-bottom: 50px;
}


.books{
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    background-color: white;
    border: solid 10px;
    border-color: rgba(2, 22, 58, 1);;
}

.folder{
    width: 200px;
}

.books ul{
    text-align: left;
    list-style: none;
}

.atribute-style{
    font-size: 40px;
}

.data-style{
    font-size: 20px;
}

.book-search-box{
    margin: auto;
}

.book-search-box input[type=search]{
    width: 100%;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    float: left;
}

.book-loan{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
}

.make-loan-content{
    display: block;
    font-family: 'Quicksand', sans-serif;
    background-color: black;
    margin: 15px;
    padding-bottom: 5px;
    border: 1px solid #888;
}